* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, input:-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

body {
  background: #FFF;
  font-size: 16px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #58666e;
}

// Does not work! Why?
#root {
  min-height: 100%;
  width: 100%;
  position: relative;
}
