.loader {
  position: absolute;
  top: 36%;
  left: 50%;
  width: 360px;
  margin-left: -180px;
  text-align: center;

  .loader_ball {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #03a9f4;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      border: 0px solid white;
      transform: translate(-50%, -50%);
      animation: loading 1000ms ease-out forwards infinite;
    }
  }
  .loader_text {
    padding: 15px;
    font-size: 1.35em;
  }
}

@keyframes loading {
  0% {
    border: 0px solid white;
  }

  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }

  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}
